{% extends "main/coppy.html" %}



{% block title %}Новости
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Тут новости</h1>
        {% if news %}
            {% for el in news %}
                <div id="news_blog">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    {# кнопка перехода с динамически параметром, указываем что по url, имя url, указываем что по айди элемента #}
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-info"> Открыть статью</a>
                </div>
            {% endfor %}
        {% else %}
            <p> Нет новостей!</p>
        {% endif %}

        {# в комментарий пишу что хочу, для друзей разработчиков и для пркатики :) ) #}

    </div>
{% endblock %}