{% extends "main/coppy.html" %}



{% block title %}home
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Первое впечатление клиент любой компании может получить во время звонка. Что услышит человек, набравший
            ваш номер, – тишину, музыку, текст приветствия, акционное предложение? Предлагаем примеры текстов голосовых
            приветствий для компании. Это готовые образцы, которые вы легко можете изменить в соответствии
            со своими запросами.</p>
        <button class="btn btn-warning">На страницу про нас</button>
        <!-- в джанго можно использовать циклы для вывода определённый инфы из словарей -->

        <!--        {% for el in values%}-->
<!--            <p>{{ el }}</p>-->
<!--        {% endfor%}-->

    </div>
{% endblock %}